.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__top-row {
    width: 100%;
    margin-bottom: 130px;
}

.footer__providence-block {
    display: flex;
    flex-direction: column;
    max-width: 245px;
    justify-content: space-between;
}

.footer__providence-logo {
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    margin-bottom: 34px;

}

.footer__providence-logo--bold {
    font-weight: 700;
}

.footer__providence-description {
    color: #8c8f94;
    font-size: 14px;
    margin-bottom: 32px;
}

.footer__download {
    border: 0;
    max-width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.footer__download-icon {
    max-width: 140px;
}

.footer__social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 17px;
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
}

.footer__info-block {
    font-family: Lato, sans-serif;
}

.footer__info-title {
    font-family: Lato, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer__list-item {
    margin-bottom: 16px;
}

.footer__info-link {
    font-size: 16px;
    color: #8c8f94;
    text-decoration: none;
}

.footer__bottom-row {
    border-top: 1px solid rgba(38, 41, 44, 0.05);
    width: 100%;
    align-items: center;
}

.footer__copyright-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 27px 15px;
}

.footer__copyright {
    font-size: 9px;
    margin-right: 11px;
}

.footer__freebie {
    color: #8c8f94;
    font-size: 14px;
}