/* -----------------------------Specification----------------------------- */
.container{
	width: 1170px;
	margin: 0 auto;
}
body{
	font-family: Lato, sans-serif;
	color:#000;
	font-size: 20px;
	padding: 0;
	margin: 0;
}
div, p, form, input, a, span, button{
	box-sizing: border-box;
}
p{
	margin: 0;
	font-size: 18;
	line-height: 1.5em;
}
ul, li{
   display: block;
   margin: 0;
   padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	line-height: 1.1em;
	font-family: Varela Round, sans-serif;
	
}
h1{
	font-size: 62px;
	font-family: Varela Round;
}

a, button, input {
	transition: all 0.5s ease;
}
.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.align-items-center{
	-ms-align-items: center;
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:focus{
	outline: none;
}

 /* -----------------------------Header----------------------------- */
 

/* -----------------------------Almost----------------------------- */
.almost {
    display: flex;
    justify-content: space-around;
}

.container-box-left {
    width: 30%;
	margin: 0 auto;
    margin-left: 14%;
    margin-right: 5%;
}

.almost-inner {
    display: flex;
    justify-content: space-between;
}

.we-everywhere {
/*
  width: 279px;
  height: 94px;
*/
  font-family: VarelaRound;
  font-size: 42px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #26272d;
  margin-bottom: 64px;
}

.we-everywhere-description {
/*  width: 469px;*/
  font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #8c8f94;
  margin-bottom: 20px;
}
.partners {
/*  width: 69px;*/
/*  height: 10px;*/
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: 1.2px;
  text-align: left;
  color: #26272d;
  text-transform: uppercase;
}

.logo-icon {
  margin-top: 68px;
}

.partners-icon {
    display: flex;
    margin-top: 31px;
}

.icon-one {
  width: 125px;
  height: 34px;
  margin-right: 31px;
}

.icon-two {
  width: 138px;
  height: 35px;
}
.almost-map {
  width: 56%;
  height: 496px;
  margin-left: 50px;  
  background: url(../img/world-map.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.world-map {
    max-width: inherit;
}

 /* -----------------------------Interface----------------------------- */
 


/* -----------------------------Providence----------------------------- */




 /* --------------------------------Plan------------------------------- */
 
.plan {
    background-color: #f4f4f5;
}

.plan-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 159px;
}

.plan-text {
    width: 35%;
}

.plan-text-header {
    font-size: 42px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #26272d;
    margin-top: 47px;
}

.you-are {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.83;
      letter-spacing: 1.2px;
      text-align: left;
      color: #26272d;
    margin-top: 67px;
}

.plan-button-field {
    width: 258px;
    height: 50px;
    border-radius: 25px;
    border: solid 1px #26292c;
    display: flex;
    justify-content: space-between;
}

.individual {
    width: 124px;
    height: 48px;
    border-radius: 25px;
    box-shadow: 1.7px 4.7px 20px 0 rgba(61, 61, 62, 0.15), 10.3px 28.2px   50px 0 rgba(92, 95, 101, 0.28);
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    z-index: 1;
    cursor: pointer;
}

.company {
    width: 124px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.company:hover {
    box-shadow: 1.7px 4.7px 20px 0 rgba(61, 61, 62, 0.15), 10.3px 28.2px   50px 0 rgba(92, 95, 101, 0.28);
    background-color: #ffffff; 
}

.plan-description-text {
    color: #8c8f94;
    font-size: 20px;
    line-height: 1.4;
    margin-top: 77px;
}

.plan-description-small {
    color: #8c8f94;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 44px;
    margin-bottom: 243px;
}

.plan-card {
    display: flex;
}

.card-starter {
    width: 340px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 10.3px 28.2px 50px 0 rgba(92, 95, 101, 0.2);
    background-color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.starter-header{
    color: #26272d;
    font-size: 32px;
    line-height: 1.19;
    font-weight: 300;
    padding-top: 62px;
}

.free {
    width: 63px;
    border-radius: 14px;
    border: solid 1px #26292c;
    font-size: 11px;
    color: #26272d;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
}

.starter-description {
    color: #8c8f94;
    font-size: 20px;
    margin-top: 56px;
    margin-bottom: 47px;
}

.options-first {
    font-size: 16px;
    margin-bottom: 20px;
}

.options-second {
    font-size: 16px;
    margin-bottom: 89px;
}

.card-starter-button {
    width: 212px;
    height: 42px;
    border: none;
    border-radius: 21px;
    background-color: #267df4;
    cursor: pointer;
    margin-bottom: 70px;
    color: #ffffff;
    font-size: 16px;
}

.card-button-field {
    padding-bottom: 170px;
}



.card-pro {
    width: 340px;
    height: 510px;
    border-radius: 10px;
    background-color: #ebebed;
    margin-top: 20px;
}





@media screen and (max-width: 1024px) {

.we-everywhere {
  font-size: 32px;
  margin-bottom: 34px;
}
.container-box-left {
    width: 28%;
}

    
    }

@media screen and (max-width: 768px) {
    
.container-box-left {
    width: 26%;
	margin: 0 auto;
    margin-left: 8%;
    margin-right: 8%;
}
    
    }

@media screen and (max-width: 650px) {
    .almost-map {
        display: none;
    }
    .container-box-left {
    width: 80%;
	margin: 0 auto;
    
}

    }

