.subscribe__form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0px;
}

.subscribe__title {
    margin-bottom: 50px;
}

.subscribe__form {
    margin-bottom: 28px;
    border-radius: 25px;
    height: 50px;
    border: solid 1px rgb(38, 41, 44, 0.2);
    padding: 4px 5px;
    max-width: 562px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe__input {
    border-radius: 25px;
    font-size: 16px;
    border: 0;
    height: 100%;
    vertical-align: baseline;
    color: rgba(38, 41, 44, 0.7);
    padding: 0;
    padding-left: 25px;
}

.subscribe__button {
    background-color: #6fc754;
    color: #ffffff;
    border-radius: 25px;
    font-size: 16px;
    border: 0;
    height: 100%;
    vertical-align: middle;
    padding: 14px 33px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 100%;
}

.subscribe__description {
    font-size: 14px;
    color: #8c8f94;
}